div, header, footer {
    height: 150px;
    margin-bottom: 30px;
    background: blue;
}

header{
    width: 600px;
}
footer{
    clear:both;
}
.cell{
    width: 180px;
    float: left;
    margin-right: 30px;
}
main{
    width: 600px;
    margin: 0 auto;
}
header,footer{
    width: 100%;
}
.cell:last-of-type{
    margin-right: 0;
}