.message{
    width: 300px;
    border: 2px solid lightgrey;
    position: absolute;
    background: lightpink;
}

.message a{
    top: 15px;
    right: 15px;
    position: absolute;
    color: grey;
    text-decoration: none;
}

.message p {
    margin: 0 0 10 px;
    font-weight: bold;
}

.message span{
    display: inline-block;
    max-width: 290px;
}
